ntruplus-GT-Production/Additional_Implementation/aarch64/NTRU+768/kat/expected/*.req whitespace=-blank-at-eof
ntruplus-GT-Production/Additional_Implementation/aarch64/NTRU+768/kat/expected/*.rsp whitespace=-blank-at-eof
ntruplus-GT-Production/Additional_Implementation/aarch64/NTRU+864/kat/expected/*.req whitespace=-blank-at-eof
ntruplus-GT-Production/Additional_Implementation/aarch64/NTRU+864/kat/expected/*.rsp whitespace=-blank-at-eof
ntruplus-GT-Production/Additional_Implementation/aarch64/NTRU+1152/kat/expected/*.req whitespace=-blank-at-eof
ntruplus-GT-Production/Additional_Implementation/aarch64/NTRU+1152/kat/expected/*.rsp whitespace=-blank-at-eof
